.button {
  display: block;
  color: inherit;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {}

  &:focus {}

  &:active {}

  &:disabled {}

  &--hero {
    width: 100%;
    padding: 16px 0;
    border-radius: 29px;
    border: 3px solid #ffffff;
  }

  @media (min-width: $min-tablet) {}

  @media (min-width: $min-desktop) {}
}
