.button {
  display: block;
  color: inherit;
  background-color: none;
  border: none;
  cursor: pointer;

  &:hover {}

  &:focus {}

  &:active {}

  &:disabled {}

  @media (min-width: $min-tablet) {}

  @media (min-width: $min-desktop) {}
}
