.catalog {
  padding-top: 46px;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 24px;
  color: $font-color;


  @media (min-width: $min-tablet) {
    padding-top: 92px;

    & .title {
      max-width: 500px;
      margin-bottom: 76px;
    }
  }

  @media (min-width: $min-desktop) {
    & .title {
      max-width: 620px;
    }
  }
}

.catalog__panorama {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $min-tablet) {
    margin-bottom: 50px;
  }
}

.catalog__list {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}
