.control {
  display: flex;
  color: $font-color-titles;

  &:not(:last-of-type).control--radio {
    margin-bottom: 36px;
  }

  &:not(:last-of-type).control--checkbox {
    margin-bottom: 44px;
  }

  @media (min-width: $min-desktop) {

    &:not(:last-of-type).control--radio {
      margin-bottom: 0;
    }

    &.control--radio {
      margin-left: 74px;
      margin-top: 41px;
    }

    &:not(:last-of-type).control--checkbox {
      margin-bottom: 0;
    }
  }
}


.control__input {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}

.control__marker {
  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: center;
  column-gap: 22px;
  text-transform: none;
  cursor: pointer;

  .control--radio & {
    column-gap: 31px;

    @media (min-width: $min-tablet) {
      column-gap: 21px;
    }
  }

  .control--checkbox & {
    @media (min-width: $min-tablet) {
      column-gap: 21px;
    }
  }

  &::before {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 38px;
    height: 38px;
    border: 2px solid $input-border-color;
    content: "";
  }

  &::after {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 14px;
    height: 14px;
    margin: auto;
    content: "";
  }

  .control--radio &::before {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }

  .control--radio .control__input:checked+&::after {
    background-color: $font-color-red;
    border-radius: 50%;
  }

  .control--checkbox .control__input:checked+&::after {
    width: 22px;
    height: 16px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:hover::before {
    border-color: $input-border-hover;
  }

  .control__input:focus+&::before {
    outline: 2px solid #000000;
    outline-offset: -2px;
  }

  &:active::before {
    border-color: $font-color-red;
  }

  .control__input:disabled+& {
    opacity: 0.3;
    cursor: none;
    pointer-events: none;
  }

  .control__input:disabled+&::before {
    opacity: 0.3;
    cursor: none;
    pointer-events: none;
  }
}
