.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: normal;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 41px;

  @media (min-width: $min-tablet) {
    padding-bottom: 30px;
  }

  @media (min-width: $min-tablet) {
    padding-bottom: 20px;
  }
}

.contacts__heading {
  margin: 0 0 45px 0;

  @media (min-width: $min-tablet) {
    margin-bottom: 51px;
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 61px;
  }
}

.contacts__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__details {
  max-width: 245px;
  color: $font-color-red;
  font-size: 24px;
  font-weight: $font-light;
}

.contacts__map {
  width: 100vw;
}
