.developers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 130px;
  font-size: 14px;
  line-height: 18px;
  color: $font-color-titles;

  @media (min-width: $min-tablet) {
    margin-top: 8px;
  }

  @media (min-width: $min-desktop) {
    min-width: 155px;
    font-size: 18px;
  }
}

.developers__image {
  color: $font-color-red;

  &:hover {
    color: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}
