.features {
  padding-top: 46px;
}

.features__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(34px + 53px);
  background-color: $bg-color-secondary;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    background-image: linear-gradient(to right bottom, $bg-color-primary 50%, $bg-color-secondary 50%);
    content: "";
  }
}

.features__text {
  max-width: 280px;
  margin: 0 auto;



  @media (max-width: ($min-tablet - 1)) {
    & br {
      display: none;
    }
  }

  @media (min-width: $min-tablet) {
    max-width: none;
    padding: 0 16px;
  }

  @media (min-width: $min-desktop) {
    max-width: none;
    padding: 0 80px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $min-tablet) {
    align-items: flex-start;
  }

  @media (min-width: $min-desktop) {
    align-items: center;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--research {
    display: none;
  }

  &::after {
    background-repeat: no-repeat;
    background-position: left top;
  }

  &--friends::after {
    width: 157px;
    height: 277px;
    background-image: url("../img/backgrounds/features/mobile/friends.webp");
    background-size: 157px auto;
    content: "";
  }

  @media (min-resolution: 2dppx) {
    &--friends::after {
      background-image: url("../img/backgrounds/features/mobile/friends@2x.webp");
    }
  }

  @media (min-width: $min-tablet) {
    align-items: flex-start;

    &--research {
      display: flex;
    }

    &--friends::after {
      width: 268px;
      height: 481px;
      background-image: url("../img/backgrounds/features/mobile/friends.webp");
      background-size: 268px auto;
      content: "";
    }

    &--research::after {
      width: 238px;
      height: 276px;
      background-size: auto;
      background-image: url("../img/backgrounds/features/research-tablet.svg");
      content: "";
    }

    @media (min-resolution: 2dppx) {
      &--friends::after {
        background-image: url("../img/backgrounds/features/tablet/friends@2x.webp");
      }
    }
  }

  @media (min-width: $min-desktop) {
    align-items: center;

    &::after {
      width: 186px;
      height: 301px;
      background-size: 186px auto;
      content: "";
    }

    &--mood::after {
      background-image: url("../img/backgrounds/features/desktop/mood.webp");
    }

    &--pink::after {
      background-image: url("../img/backgrounds/features/desktop/pink.webp");
    }

    &--friends::after {
      background-image: url("../img/backgrounds/features/desktop/friends.webp");
    }

    &--research::after {
      width: 298px;
      height: 345px;
      background-size: auto;
      background-image: url("../img/backgrounds/features/research-desktop.svg");
    }

    @media (min-resolution: 2dppx) {
      &--mood::after {
        background-image: url("../img/backgrounds/features/desktop/mood@2x.webp");
      }

      &--pink::after {
        background-image: url("../img/backgrounds/features/desktop/pink@2x.webp");
      }

      &--friends::after {
        background-image: url("../img/backgrounds/features/desktop/friends@2x.webp");
      }
    }
  }
}

.features__slogan {
  margin: 0;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 24px;
  text-align: center;

  @media (min-width: $min-tablet) {
    text-align: left;
  }

  @media (min-width: $min-desktop) {
    font-size: 30px;
    line-height: 30px;
  }
}

.features__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $min-tablet) {
    text-align: left;
  }

  @media (min-width: $min-desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
