.features {
  padding-top: 46px;
}

.features__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(34px + 53px);
  background-color: $bg-color-secondary;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    background-image: linear-gradient(to right bottom, $bg-color-primary 50%, $bg-color-secondary 50%);
    content: "";
  }

  @media (min-width: $min-tablet) {
    padding-top: 0;
    padding-bottom: 49px;

    &::before {
      height: 54px;
    }
  }

  @media (min-width: $min-desktop) {
    padding-bottom: 59px;

    &::before {
      height: 100px;
    }
  }
}

.features__container {
  @media (min-width: $min-desktop) {
    background-color: $bg-color-secondary;
  }
}

.features__text {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 36px;


  @media (max-width: ($min-tablet - 1)) {
    & br {
      display: none;
    }
  }

  @media (min-width: $min-tablet) {
    max-width: none;
    padding: 0 16px;
  }

  @media (min-width: $min-desktop) {
    max-width: none;
    padding: 0 80px;
  }
}

.features__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $min-tablet) {
    align-items: flex-start;
    min-height: 432px;
    padding-left: calc(268px + 42px);
  }

  @media (min-width: $min-desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    column-gap: 20px;
    padding: 0;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: ($min-tablet - 1)) {
    &:not(:last-of-type) {
      margin-bottom: 43px;
    }
  }

  &::after {
    background-repeat: no-repeat;
    background-position: left top;
  }

  &--friends::after {
    width: 157px;
    height: 277px;
    margin-top: 48px;
    background-image: url("../img/backgrounds/features/mobile/friends.webp");
    background-size: 157px auto;
    content: "";
  }

  @media (min-resolution: 2dppx) {
    &--friends::after {
      background-image: url("../img/backgrounds/features/mobile/friends@2x.webp");
    }
  }

  @media (min-width: $min-tablet) {
    align-items: flex-start;

    &--friends::after {
      position: absolute;
      bottom: -44px;
      left: 0;
      width: 268px;
      height: 481px;
      margin-top: 0;
      background-image: url("../img/backgrounds/features/mobile/friends.webp");
      background-size: 268px auto;
      content: "";
    }

    &--mood {
      margin-top: 75px;
    }

    &--pink {
      margin-top: 46px;
    }

    &--friends {
      margin-top: 47px;
    }

    @media (min-resolution: 2dppx) {
      &--friends::after {
        background-image: url("../img/backgrounds/features/tablet/friends@2x.webp");
      }
    }
  }

  @media (min-width: $min-desktop) {
    align-items: center;

    &:not(.research) {
      margin: 0;
      width: 300px;
    }

    &::after {
      order: 1;
      width: 300px;
      height: 301px;
      background-position: left 6px;
      background-size: 300px auto;
      content: "";
    }

    &--mood::after {
      background-image: url("../img/backgrounds/features/desktop/mood.webp");
    }

    &--pink::after {
      background-image: url("../img/backgrounds/features/desktop/pink.webp");
    }

    &--friends::after {
      position: static;
      background-image: url("../img/backgrounds/features/desktop/friends.webp");
    }

    &--research::after {
      width: 298px;
      height: 345px;
      background-size: auto;
      background-image: url("../img/backgrounds/features/research-desktop.svg");
    }

    @media (min-resolution: 2dppx) {
      &--mood::after {
        background-image: url("../img/backgrounds/features/desktop/mood@2x.webp");
      }

      &--pink::after {
        background-image: url("../img/backgrounds/features/desktop/pink@2x.webp");
      }

      &--friends::after {
        background-image: url("../img/backgrounds/features/desktop/friends@2x.webp");
      }
    }
  }
}

.features__slogan {
  margin: 0;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 24px;
  text-align: center;

  @media (min-width: $min-tablet) {
    text-align: left;
  }

  @media (min-width: $min-desktop) {
    order: 2;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 59px;
  }
}

.features__description {
  order: 3;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $min-tablet) {
    max-width: 310px;
    text-align: left;
  }

  @media (min-width: $min-desktop) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 32px;
  }
}
