.form {
  display: flex;
  flex-direction: column;
}

.form__button {
  display: block;
  padding: 20px 0 21px 0;
  text-align: center;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 1;
  color: $font-color-inverted;
  background-color: $button-color-primary;
  border-radius: 1px;
  border: none;

  &--upload {
    min-width: 280px;
    margin-bottom: 12px;
    padding: 15px 0;
    line-height: 19px;
    color: $font-color-red;
    background-color: $button-upload-color;
    border: 3px solid $font-color-red;
    border-radius: 30px;
  }

  &--reset {
    opacity: 0.1;
    min-width: 280px;
    padding: 15px 0;
    line-height: 19px;
    color: $font-color-titles;
    background-color: $button-cancel-color;
    border: 3px solid $font-color-titles;
    border-radius: 30px;
  }
}

.form__group-wrapper {
  @media (max-width: $max-mobile) {
    background-color: $bg-color-secondary;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  padding: 42px 0 44px 0;
  margin: 0 auto;
  border: none;


  @media (min-width: $min-tablet) {
    margin-bottom: 65px;
    padding: 54px 60px;
    border-radius: 1px;
    border: 2px solid $input-border-color;

    &--user {
      border: none;
      padding: 0;
    }
  }
}

.form__group-legend {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $font-color-red;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $font-color-red;
}

.form__input {
  font-size: inherit;
  padding: 20px 0 20px 23px;
  color: $font-color-titles;
  border-radius: 1px;
  border: 2px solid $input-border-color;

  &::placeholder {
    color: inherit;
  }

  &--email {
    padding-right: 59px;
    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 59px 59px;
  }

  &--phone {
    padding-right: 59px;
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 59px 59px;
  }

  &:hover {}

  &:focus {}

  &:active {}

  &:disabled {}
}

.form__textarea {
  padding: 22px 25px 22px 20px;
  font-size: inherit;
  color: $font-color-titles;
  border-radius: 1px;
  border: 2px solid $input-border-color;

  &::placeholder {
    color: inherit;
  }

  &:hover {}

  &:focus {}

  &:active {}

  &:disabled {}
}

.form__range {

  &--custom {
    appearance: none;

    display: block;
    background-color: transparent;

    &::-webkit-slider-runnable-track {
      height: 2px;
      background-color: $font-color;
    }

    &::-moz-range-track {
      height: 2px;
      background-color: $font-color;
    }

    &::-moz-range-thumb {
      width: 14px;
      height: 14px;
      box-sizing: border-box;

      background-color: #ffffff;
      border: 2px solid $font-color-red;
      border-radius: 50%;
      cursor: pointer;

      &:hover {}

      &:active {}
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 14px;
      height: 14px;
      box-sizing: border-box;
      margin-top: -7px;
      background-color: #ffffff;
      border: 2px solid $font-color-red;
      border-radius: 50%;
      cursor: pointer;

      &:hover {}

      &:active {}
    }
  }


}
