.hero {
  color: $font-color-inverted;
  background-color: $bg-color-hero;

  background-image: url("../img/backgrounds/hero-mobile.webp");
  background-repeat: no-repeat;
  background-size: auto 460px;
  background-position: center top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/hero-mobile@2x.webp");
  }

  @media (min-width: $min-tablet) {
    display: flex;
    justify-content: center;
    background-image: url("../img/backgrounds/hero-tablet.webp");
    background-size: auto 729px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/hero-tablet@2x.webp");
    }
  }

  @media (min-width: $min-desktop) {
    justify-content: flex-end;
    background-image: url("../img/backgrounds/hero-desktop.webp");
    background-size: auto 853px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/hero-desktop@2x.webp");
    }
  }
}

.hero__wrapper {
  padding-top: 90px;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 195px 235px 116px;
    padding-top: calc(110px + 74px);
    max-width: 660px;
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: 295px 1fr;
    grid-template-rows: 241px 274px 130px;
    padding-top: calc(110px + 98px);
    width: 1066px;
    max-width: initial;
  }

  @media (min-width: 1250px) {
    width: 89vw;
    max-width: 1565px;
  }

  &--inner {
    display: flex;
    justify-content: center;
    padding-top: 99px;
    min-height: 237px;
    width: initial;
    max-width: initial;

    @media (min-width: $min-tablet) {
      padding-top: calc(110px + 81px);
      min-height: 440px;
      padding-top: 178px;
    }

    @media (min-width: $min-desktop) {
      padding-top: 168px;
      min-height: 394px;
    }
  }

  &--application {
    padding-top: 97px;
    min-height: 237px;
    width: initial;
    max-width: initial;

    @media (min-width: $min-tablet) {
      padding-top: calc(110px + 81px);
      min-height: 440px;
      padding-top: 178px;
    }

    @media (min-width: $min-desktop) {
      padding-top: 168px;
      min-height: 394px;
    }
  }
}

.hero__images {
  margin: 0 0 32px 0;


  @media (min-width: 376px) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $min-tablet) {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    align-self: start;
    justify-self: start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }

  @media (min-width: $min-desktop) {
    margin-left: 12px;
  }

  @media (min-width: 1250px) {
    justify-self: center;
  }
}

.hero__image {
  display: block;
  width: 320px;
  height: auto;
  object-fit: cover;

  @media (min-width: $min-tablet) {
    width: 660px;
  }

  @media (min-width: $min-tablet) {
    width: 1050px;
  }
}

.hero__downloads {
  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  @media (min-width: $min-desktop) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: auto;
    max-width: initial;
    margin: 0;
  }
}
