.likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $min-tablet) {
    justify-content: space-between;
  }
}

.likes__button {
  display: block;
  width: 13px;
  height: 12px;
  margin-right: 18px;
  color: $font-color-red;
  border: none;
  background-color: $bg-color-primary;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  @media (min-width: $min-tablet) {
    order: 2;
    margin-right: 0;
  }
}

.likes__total {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $font-color-red;

  @media (min-width: $min-tablet) {
    margin-right: 15px;
  }
}
