//Кастомная стилизация ссылок
.link {
  display: block;
 text-decoration: none;
  &:hover {}

  &:focus {}

  &:active {}

  &--underline {
    text-decoration: underline;
  }

  &--dotted {
    text-decoration: dotted;
  }

  &--dashed {
    text-decoration: dashed;
  }

  &--double {
    text-decoration: double;
  }

  &--overline {
    text-decoration: overline;
  }

  &--wavy {
    text-decoration: wavy;
  }

  &--solid {
    text-decoration: solid;
  }
}
