.main-page {}

.main-page__header {
  min-height: 733px;

  @media (min-width: $min-tablet) {
    min-height: 729px;
  }

  @media (min-width: $min-desktop) {
    min-height: 853px;
  }

  &--inner {
    min-height: initial;
  }
}

.main-page__title {
  max-width: 280px;
  margin: 0 auto 25px auto;
  color: $font-color-inverted;

  @media (min-width: $min-tablet) {
    max-width: 300px;
    margin-bottom: 0;
  }

  &--hero {
    @media (min-width: $min-tablet) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    @media (min-width: $min-tablet) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      max-width: initial;
      width: auto;
      margin: 0;
      padding: 21px 9px 0 52px;
    }
  }

  &--gallery {
    max-width: 172px;
    margin: 0 auto;

    @media (min-width: $min-tablet) {
      max-width: 358px;
    }
  }

  &--application {
    max-width: 228px;

    @media (min-width: $min-tablet) {
      max-width: 510px;
    }

    @media (min-width: $min-desktop) {
      max-width: 750px;
    }
  }
}

.main-page__section {
  @media (min-width: $min-desktop) {}
}


.main-page__section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $font-color-titles;

  &--inner {
    max-width: 280px;
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: $font-regular;
    line-height: 30px;
  }

  @media (max-width: $max-mobile) {
      &--inner span {
        display: none;
      }
    }

    @media (min-width: $min-tablet) {

      &--inner {
        max-width: 620px;
        font-size: 18px;
      }
    }
  }

  .main-page__footer {
    padding-top: 40px;

    @media (min-width: $min-tablet) {
      padding-top: 50px;
    }

    @media (min-width: $min-desktop) {
      padding-top: 74px;
    }
  }
