.main-page {}

.main-page__header {
  min-height: 733px;

  @media (min-width: $min-tablet) {
    min-height: 729px;
  }

  @media (min-width: $min-desktop) {
    min-height: 853px;
  }

  &--gallery {
    min-height: initial;
  }
}

.main-page__title {
  max-width: 280px;
  margin: 0;
  color: $font-color-inverted;

  @media (min-width: $min-tablet) {
    max-width: 300px;
  }

  &--gallery {
    max-width: 172px;

    @media (min-width: $min-tablet) {
      max-width: 358px;
    }
  }
}

.main-page__section {
  @media (min-width: $min-desktop) {}
}


.main-page__section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $font-color-titles;

  &--catalog {
    max-width: 280px;
    font-size: 14px;
    font-weight: $font-regular;
    line-height: 30px;
  }

  @media (min-width: $min-tablet) {

    &--catalog {
      max-width: 425px;
    }
  }
}

.main-page__footer {
  padding-top: 50px;

  @media (min-width: $min-tablet) {
    padding-top: 55px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 74px;
  }
}
