.main-page {}

.main-page__header {
  @media (min-width: $min-desktop) {}
}

.main-page__title {
  margin: 0;
  color: $font-color-inverted;
}

.main-page__section {
  @media (min-width: $min-desktop) {}
}


.main-page__section-title {
  color: $font-color-titles;

  @media (min-width: $min-desktop) {}
}

.main-page__footer {
  @media (min-width: $min-desktop) {}
}
