.map {
  position: relative;
  height: 200px;

  &--nojs .map__images {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $min-tablet) {
    height: 374px;
  }

  @media (min-width: $min-desktop) {
    height: 502px;
  }
}

.map__images {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $bg-color-header;
}

.map__marker {
  width: 36px;
  height: 36px;
  margin-top: 95px;
  background-color: $bg-map-marker;
  border: 10px solid #ffffff;
  border-radius: 50%;
  z-index: 2;

  @media (min-width: $min-tablet) {
    margin-top: 194px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 264px;
  }
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: fill;

  @media (min-width: $min-tablet) {
    height: 374px;
  }

  @media (min-width: $min-desktop) {
    height: 502px;
  }
}

.map__interactive {

  &--nojs {
    display: none;
  }
}
