.map {
  position: relative;
  height: 200px;

  &--nojs .map__images {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $min-tablet) {
    height: 374px;
  }

  @media (min-width: $min-desktop) {
    height: 502px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 100;
    top: -4px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/triangle-footer.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media (min-width: $min-desktop) {
      top: -20px;
    }
  }
}

.map__images {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  background-color: $bg-color-header;
}

.map__marker {
  width: 36px;
  height: 36px;
  margin-top: 95px;
  background-color: $bg-map-marker;
  border: 10px solid #ffffff;
  border-radius: 50%;
  z-index: 2;

  @media (min-width: $min-tablet) {
    margin-top: 194px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 264px;
  }
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;

  @media (min-width: $min-tablet) {
    height: 374px;
  }

  @media (min-width: $min-desktop) {
    height: 502px;
  }
}

.map__interactive {
  display: block;
  width: 100%;
  height: 200px;
  background: none;
  border: none;

  &--nojs {
    display: none;
  }

  @media (min-width: $min-tablet) {
    height: 374px;
  }

  @media (min-width: $min-desktop) {
    height: 502px;
  }
}
