.meta {
  display: flex;
  justify-content: flex-start;
}

.meta__author {
  margin-right: 3px;

  @media (min-width: $min-desktop) {
    margin-right: 5px;
  }
}

.meta__time {
  font-size: 12px;
  font-weight: $font-light;
  line-height: 24px;
  text-transform: uppercase;
}
