.modal {
  display: none;

  &--opened {
    position: absolute;
    display: block;
    bottom: 1020px;
    width: 100%;
    background-color: $bg-color-primary;
    border-radius: 1px;
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);

    @media (min-width: $min-tablet) {
      bottom: initial;
      top: 230px;
      left: 50%;
      width: 460px;
      padding: 38px 81px 52px;
      border-radius: 5px;

      transform: translateX(-50%);
    }
  }
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 276px;
  margin: 0 auto;
  padding: 38px 0 48px 0;

  @media (min-width: $min-tablet) {
    width: auto;
    padding: 0;
  }
}

.modal__heading {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 24px;
  text-align: center;

  @media (min-width: $min-tablet) {
    max-width: 250px;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__message {
  margin-bottom: 41px;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 24px;
  text-align: center;

  @media (min-width: $min-tablet) {
    margin-bottom: 33px;
    font-size: 18px;
    line-height: 24px;
  }
}

.modal__button {
  display: block;
  width: 100%;
  padding: 23px 0 22px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 1;
  color: $font-color-inverted;
  background-color: $button-color-primary;
  border-radius: 1px;
  border: none;
  cursor: pointer;

  @media (min-width: $min-tablet) {
    margin-bottom: 0;
  }

  &:hover {
    background: $button-color-secondary;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }

  &:disabled {
    border-color: #E5E5E5;
    background-color: #E5E5E5;
    pointer-events: none;
  }
}
