//Блок шапки сайта
//Тут задавать стили внешнего представления этого блока
.page-header {
  position: relative;
  width: 100%;
  background-color: $bg-color-header;
}

.page-header__logo {
  margin: 0;
}

.page-header__navigation {
  background-color: inherit;
}
