//Блок шапки сайта
.page-header {
  &--opened {
    background-color: $bg-color-opened;
    box-shadow: 0px 1px 0px 0px #000;
  }
}

.page-header__navigation {
  background-color: transparent;

  @media (min-width: $min-desktop) {
    display: flex;
    justify-content: space-between;
    padding: 11px 0 27px 0;
  }
}

.page-header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;

  @media (min-width: $min-tablet) {
    padding: 27px 0 43px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 0;
  }
}

.page-header__logo {
  margin: 0;

  &:hover {
    filter: brightness(0) saturate(100%) invert(24%) sepia(48%) saturate(4325%) hue-rotate(328deg) brightness(86%) contrast(91%);
  }

  &:active {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(116deg) brightness(103%) contrast(105%) opacity(30%);
  }
}

.page-header__toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 24px;
  padding: 0;
  background: none;
  border: none;

  cursor: pointer;

  &--nojs {
    display: none;
  }

  @media (min-width: $min-tablet) {
    margin-top: 13px;
  }


  @media (min-width: $min-desktop) {
    display: none;
  }

  &:hover {
    .burger:not(.burger--opened) {
      background-color: $menu-hover;
    }

    .burger::before {
      background-color: $menu-hover;
    }

    .burger::after {
      background-color: $menu-hover;
    }
  }

  &:focus:not(:active) {
    .burger:not(.burger--opened) {
      background-color: $button-burger-color;
    }

    .burger::before {
      background-color: $button-burger-color;
    }

    .burger::after {
      background-color: $button-burger-color;
    }
  }

  &:active {
    .burger:not(.burger--opened) {
      opacity: 0.3;
    }

    .burger::before {
      opacity: 0.3;
    }

    .burger::after {
      opacity: 0.3;
    }
  }
}

.page-header__menu {
  display: none;

  &--nojs {
    position: relative;
    left: calc(50% - 50vw);
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  @media (min-width: $min-desktop) {
    position: static;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
