.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $min-desktop) {}
}

.page-footer__logo {
  margin-bottom: 40px;

  &:hover {
    filter: brightness(0) saturate(100%) invert(24%) sepia(48%) saturate(4325%) hue-rotate(328deg) brightness(86%) contrast(91%);
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 0;
  }
}

.page-footer__socials {
  margin: 0 0 40px 0;

  @media (min-width: $min-tablet) {
    margin: 0;
  }
}

.page-footer__developer {
  @media (min-width: $min-tablet) {}
}
