//Блок страница - для корневого <html>
.page {
  min-width: 320px;
  height: 100%;
}

//Элемент страницы body
.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @include font_primary($font-regular);
  background-color: $bg-color-primary;
}

.page__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: $font-color-inverted;
}

.page__footer {
  padding: 37px 0 40px 0;
  color: $bg-color-footer;

  @media (min-width: $min-tablet) {
    padding: 27px 0 40px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 62px 0 80px 0;
  }
}
