.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-tablet) {}

  @media (min-width: $min-desktop) {}
}

.page-footer__logo {
  margin-bottom: 40px;

  @media (min-width: $min-tablet) {}
}

.page-footer__socials {
  margin: 0 0 40px 0;

  @media (min-width: $min-tablet) {}
}

.page-footer__developer {
  @media (min-width: $min-tablet) {}
}
