.panorama {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.panorama__link {
  position: relative;
  text-decoration: none;
}

.panorama__image {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
}

.panorama__data {
  display: flex;
  flex-direction: column;
  padding: 25px 17px;
  background-color: $bg-color-secondary;

  @media (min-width: $min-tablet) {
    padding: 30px;
  }
}

.panorama__meta {
  margin: 0;
}

.panorama__text {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $min-tablet) {
    margin-bottom: 0;
  }
}

.panorama__statistics {
  margin: 0;
}
