.plan {
  border-collapse: collapse;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 30px;
  text-transform: uppercase;

  @media (max-width: $max-mobile) {
    width: auto;
    transition: all .1s;
    background-color: #fff;
    background-clip: content-box;
    overflow: hidden;
  }

}

.plan__types {
  color: $font-color-inverted;
}

.plan__type {
  min-width: 275px;
  max-width: 276px;
  padding: 13px 94.68px 27px 94px;
  text-align: center;
  background-color: $bg-thead-plan;

  &:not(:last-of-type) {
    border-right: 2px solid $font-color-inverted;
  }

  &--hit::after {
    content: "";
    position: absolute;
    height: 0;
    transform: rotate(-45deg);
    border: 24px solid transparent;
    border-bottom-color: $font-color-red;
    z-index: 1;

    @media (max-width: $max-mobile) {
      width: 104px;
      left: -35px;
      top: -3px;
    }

    @media (min-width: $min-tablet) {
      width: 81px;
      left: -29px;
      top: -12px;
    }

    @media (min-width: $min-desktop) {
      width: 107px;
      left: -33px;
      top: -3px;
    }
  }

  &--hit::before {
    position: absolute;
    color: $font-color-inverted;
    font-weight: 400;
    transform: rotate(-45deg);
    z-index: 2;
    content: attr(data-label);

    @media (max-width: $max-mobile) {
      left: 11px;
      top: 17px;
    }

    @media (min-width: $min-tablet) {
      left: 6px;
      top: 5px;
    }

    @media (min-width: $min-desktop) {
      left: 15px;
      top: 13px;
    }
  }

  @media (min-width: $min-tablet) {
    min-width: 152px;
    padding: 7px 38px;
  }

  @media (min-width: $min-desktop) {
    min-width: 233px;
    padding: 16px 66px 17px;
  }

  &--hit {
    position: relative;

    @media (min-width: $min-tablet) {
      min-width: 153px;
      padding: 7px 30px 7px 34px;
    }

    @media (min-width: $min-desktop) {
      min-width: 234px;
      padding: 16px 66px 17px;
    }
  }
}

.plan__options-heads {
  display: none;
  background-color: #ffffff;

  @media (min-width: $min-tablet) {
    display: initial;
  }
}

.plan__type-name {
  display: block;
  font-size: 16px;
  font-weight: $font-bold;

  @media (min-width: $min-desktop) {
    font-size: 18px;
  }
}

.plan__type-price {
  display: block;
  font-size: 18px;
  line-height: 29px;
  font-weight: $font-light;

  @media (min-width: $min-desktop) {
    font-size: 24px;
  }
}

.plan__features {
  background-color: #ffffff;
}

.plan__feature-name {
  display: none;
  font-weight: inherit;

  @media (min-width: $min-tablet) {
    display: flex;
    width: 153px;
    height: 45px;
    padding-left: 12px;
    align-items: center;
    border: 1px solid $table-border-color;
    border-right: none;
  }

  @media (min-width: $min-desktop) {
    padding-left: 22px;
    width: 233px;
    height: 59px;
    font-size: 18px;
  }
}

.plan__feature {
  height: 59px;
  padding-left: 20px;
  text-align: left;
  border: 2px solid $table-border-color;

  &::before {
    display: inline-block;
    width: 210px;
    font: inherit;
    color: inherit;
    content: attr(data-feature);
  }

  @media (min-width: $min-tablet) {
    padding-left: 0;
    height: 45px;
    text-align: center;
    box-sizing: content-box;
    border: 1px solid $table-border-color;
    &::before {
      width: auto;
      content: "";
    }
  }

  @media (min-width: $min-desktop) {
    height: 59px;
    font-size: 18px;
    text-align: center;
  }

  &::after {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: auto;
    vertical-align: middle;
    background-image: url("../img/no.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
  }

  &--included::after {
    display: inline-block;
    width: 31px;
    height: 21px;
    background-image: url("../img/yes.svg");
  }
}
