.post {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-tablet) {
    width: 300px;
  }

  @media (min-width: $min-desktop) {
    width: 100%;
  }
}

.post__image {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
}

.post__data {
  display: flex;
  flex-direction: column;
  min-height: 121px;
  padding: 17px 17px;
  background-color: $bg-color-secondary;

  @media (min-width: $min-tablet) {
    min-height: 155px;
    padding: 24px 30px 22px;
  }

  @media (min-width: $min-desktop) {
    padding: 24px 30px 22px 26px;
  }
}

.post__meta {
  margin: 0;
}

.post__text {
  margin: 0;
}

.post__statistics {
  margin: 0;
  margin-top: 14px;

  @media (min-width: $min-tablet) {
    margin-top: auto;
  }
}
