.posts {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
  }
}

.posts__item {
  margin-bottom: 20px;

  @media (min-width: $min-tablet) {
    margin-bottom: 0;
  }
}
