.site-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;

  font-size: 18px;
  font-style: normal;
  font-weight: $font-bold;
  line-height: 32px;
  text-transform: uppercase;
  background-color: #283645;

  &--opened {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 620px;
    font-weight: $font-regular;
    text-transform: none;
    background-color: transparent;
  }
}

.site-menu__item {
  position: relative;
  display: flex;
  align-items: flex-start;

  @media (max-width: $max-desktop) {

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
    }

    &::before {
      top: 1px;
      background-color: rgba(255, 255, 255, 0.15);
    }

    &::after {
      background-color: #000000;
    }

    &:last-of-type {
      box-shadow: 0 1px 0 #000000;
    }
  }
}

.site-menu__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px 0;
  text-align: center;

  color: $font-color-inverted;

  &:hover:not(.site-menu__link--active) {
    color: $menu-hover;
  }

  &:active:not(.site-menu__link--active) {
    color: $menu-active;
  }

  @media (min-width: $min-desktop) {
    padding: 21px 0 19px 0;
    text-align: initial;

    &--active::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: $font-color-inverted;
      content: "";
    }
  }
}
