.slider {
  display: block;

  &--nojs {
    display: block;
  }

  @media (min-width: $min-desktop) {
    display: grid;
    grid-template-columns: 18px 1fr 18px;
    align-items: center;
  }
}

.slider__wrapper {
  grid-column: 2 / 3;
}

.slider__item {
  &:not(&[data-slider="active"]) {
    display: none;
  }

  .slider--nojs &:not(&[data-slider="active"]) {
    display: grid;
  }
}

.slider__button {
  display: none;
  width: 18px;
  height: 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--nojs {
    display: none;
  }

  @media (min-width: $min-desktop) {
    display: block;
  }

  &::before {
    display: block;
    width: 18px;
    height: 16px;
    color: inherit;
    background-color: inherit;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
  }

  &--prev::before {
    transform: rotate(180deg);
  }

  &--prev {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  &--next {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__indicators {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  &--nojs {
    display: none;
  }

  @media (min-width: $min-desktop) {
    display: none;
  }
}

.slider__indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9px;
  height: 9px;

  &:not(:last-of-type) {
    margin-right: 16px;
  }
}

.slider__toggler {
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: #283645;
  border: none;
  outline: 3px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;

  &[data-toggler="active"] {
    background-color: #ffffff;
    outline: 3px solid #283645;
  }
}
