.socials {
  display: flex;
  flex-wrap: wrap;
  min-width: 172px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socials__item {
  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}
