.testimonials {
  padding: 50px 0 60px 0;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 30px;
  text-align: center;
}

.testimonials__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 44px;

  @media (min-width: $min-tablet) {
    padding-bottom: 49px;
  }

  @media (min-width: $min-desktop) {
    padding-bottom: 41px;
  }
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

}

.testimonials__author {
  font-size: 18px;
  font-weight: $font-bold;

  @media (min-width: $min-tablet) {
    order: 2;
    margin-top: 50px;
    font-size: 20px;
  }

  @media (min-width: $min-desktop) {
    font-size: 24px;
  }
}

.testimonials__author-details {
  display: none;
  margin: 0;

  @media (min-width: $min-tablet) {
    display: block;
    order: 3;
  }

  @media (min-width: $min-desktop) {
    font-size: 18px;
  }
}

.testimonials__text {
  margin: 0;

  @media (min-width: $min-tablet) {
    order: 1;
    font-size: 18px;
  }
}
