.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 0 40px 0;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 30px;
  text-align: center;

  @media (min-width: $min-tablet) {
    padding-bottom: 15px;
  }

  @media (min-width: $min-desktop) {
    &::before {
      display: block;
      width: 79px;
      height: 63px;
      margin-bottom: 58px;

      background-image: url("../img/quotes.svg");
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
    }
  }
}

.testimonials__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-tablet) {
    padding-bottom: 19px;
  }

  @media (min-width: $min-desktop) {
    padding-bottom: 0;
  }
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  @media (min-width: $min-tablet) {
    &.slider__item[data-slider="active"] {
      margin-bottom: 18px;
     }

  }

   @media (min-width: $min-desktop) {
    &.slider__item[data-slider="active"] {
      margin-bottom: 0;
     }

  }
}

.testimonials__author {
  font-size: 18px;
  font-weight: $font-bold;

  @media (min-width: $min-tablet) {
    order: 2;
    margin-top: 34px;
    font-size: 20px;
  }

  @media (min-width: $min-desktop) {
    font-size: 24px;
  }
}

.testimonials__author-details {
  display: none;
  margin: 0;

  @media (min-width: $min-tablet) {
    display: block;
    order: 3;
  }

  @media (min-width: $min-desktop) {
    font-size: 18px;
  }
}

.testimonials__text {
  margin: 0;
  margin-top: 13px;

  @media (min-width: $min-tablet) {
    order: 1;
    font-size: 18px;
  }
}
