.title {
  padding: 0;
  font-size: $font-title-mobile;
  font-weight: $font-light;

  @media (min-width: $min-tablet) {
    font-size: $font-title-tablet;
  }

  @media (min-width: $min-desktop) {
    font-size: $font-title-desktop;
  }
}
