.upload {
  padding-top: 49px;

  & .title {
    margin-bottom: 52px;
  }
}

.upload__form {
  padding: 20px 0 41px 0;
  background-color: $bg-color-secondary;
}

.upload__image {
  display: flex;
  justify-content: center;
  padding: 0;
  border: none;
}

.upload__effects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: none;
}

.upload__effects-list {
  align-self: center;
  width: 280px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
