.upload {
  padding-top: 49px;

  & .title {
    margin-bottom: 52px;
  }

  @media (min-width: $min-tablet) {
    padding-top: 70px;

    & .title {
      margin-bottom: 78px;
    }

    & .form__range {
      width: 202px;
    }
  }
}

.upload__form {
  padding: 20px 0 41px 0;
  background-color: $bg-color-secondary;

  @media (min-width: $min-tablet) {
    padding: 57px 0 54px 0;
  }
}

.upload__image {
  display: flex;
  justify-content: center;
  padding: 0;
  border: none;

  @media (min-width: $min-tablet) {
    justify-self: end;
    width: 300px;
    height: 400px;
    margin: 0;
    margin-right: 10px;
  }
}

.upload__effects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: none;

  @media (min-width: $min-tablet) {
    display: block;
    padding-left: 36px;
  }
}

.upload__effects-list {
  align-self: center;
  width: 280px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (max-width: $max-mobile) {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    max-width: 320px;
    min-height: 161px;
    padding-top: 42px;
    padding: 0 37px 0 49px;
    padding-bottom: 34px;
    margin-bottom: 38px;
    border-bottom: 1px solid rgb(40, 54, 69, 0.1);
  }

  @media (min-width: $min-tablet) {
    display: flex;
    flex-direction: column;
    width: 273px;
    margin-bottom: 67px;
  }
}

.upload__effects-item {
  padding: 23px 0 27px 0;
  border-bottom: 2px solid rgb(40, 54, 69, 0.1);

  &:first-of-type {
    padding-top: 9px;
  }
}

.upload__effects-label {
  display: flex;

  &::before {
    mask-size: cover;
    mask-repeat: no-repeat;
    content: "";
  }

  &--crop::before {
    width: 44px;
    height: 44px;
    mask-image: url("../img/crop.svg");
  }

  &--fill::before {
    width: 48px;
    height: 43px;
    mask-image: url("../img/fill.svg");
  }

  &--contrast::before {
    width: 32px;
    height: 32px;
    mask-image: url("../img/contrast.svg");
  }

  @media (max-width: $max-mobile) {

    & .form__range {
      display: none;
    }

    &--active .form__range {
      position: absolute;
      display: initial;
      bottom: 34px;
      left: 40px;
      width: calc(100% - 80px);
    }

    &::before {
      opacity: 0.3;
      background-color: $font-color;
    }

    &--active::before {
      opacity: 1;
      background-color: $font-color-red;
    }
  }

  @media (min-width: $min-tablet) and (max-width: $max-desktop) {
    justify-content: space-between;

    &::before {
      opacity: 1;
      background-color: $font-color-red;
    }

    &--crop::before {
      width: 22px;
      height: 22px;
    }

    &--fill::before {
      width: 23px;
      height: 22px;
    }

    &--contrast::before {
      width: 16px;
      height: 16px;
    }
  }

  @media (min-width: $min-desktop) {
    &::before {
      opacity: 1;
      background-color: $font-color-red;
    }
  }

}
